name: .NET 8 CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore Songify/backend/backend.sln

    - name: Build
      run: dotnet build Songify/backend/backend.sln --configuration Release --no-restore

    - name: Run tests
      run: dotnet test Songify/backend/backend.sln --no-build --verbosity normal
